<section class="description">
  <div class="container">
    <span class="description__text">
      Спробувати себе в дизайні може кожна дитина</span
    >
    <div class="description__wrap laptop:flex last:gap-6 laptop:justify-around">
      <div class="back-junior flex flex-col items-center">
        {% include './description-junior.html' %}
      </div>
      <div class="back-profi flex flex-col items-center">
        {% include './description-profi.html' %}
      </div>
    </div>
  </div>
</section>
