:root {
  --grey-text-color: #474747;
  --grey-input: #999999;
  --grey-descr-color: #6e6e6e;
  --white-color: #fafafa;
  --black-color: #1a1a1a;
  --purple-color: #653cd9;
  --purple-lite-main: #c2b0f5;
  --purple-lite-second: #ebe6fa;
  --orange-lite: #faeee6;
  --orange-color: #e58845;
  --yellow-color: #fec830;
  --footer-link-color: #ababab;
  --red-profi-info: #f5bfb8;
  --orange-bg-course: #f5d1b8;
  --active-btn: #452994;
  --back-hero-text: linear-gradient(
    90deg,
    rgb(235, 163, 113),
    rgb(103, 33, 164)
  );
}
